@use "sass:map";
$colorsspur: (
  "orange": #ff5a01,
  "Health": #ff5a01,
  "Vida": #ff5a01,
  "lime": #b0f954,
  "Food": #b0f954,
  "Ag": #b0f954,
  "Terra": #b0f954,
  "skyBlue": #00e9ff,
  "Water": #00e9ff,
  "Hydro": #00e9ff,
  "charcoal": #323e48,
  "Institutional": #323e48,
  "Stories": #323e48,
  "yellow": #ffd62d,
  "Community": #ffd62d,
  "green": #00d48a,
  "Environment": #00d48a,
  "blue": #0596f5,
  "Energy": #0596f5,
  "white": #ffffff
);

@each $name, $colorsspur in $colorsspur {
  .bg-spur-#{$name} {
    background: $colorsspur;
  }
  .c-spur-#{$name} {
    color: $colorsspur;
  }
  
}