

$theme-colors: (
    "orange": #ff5a01,
    "Health": #ff5a01,
    "Vida": #ff5a01,
    "lime": #b0f954,
    "Food": #b0f954,
    "Ag": #b0f954,
    "Terra": #b0f954,
    "skyBlue": #00e9ff,
    "Water": #00e9ff,
    "Hydro": #00e9ff,
    "charcoal": #323e48,
    "Institutional": #323e48,
    "Stories": #323e48,
    "yellow": #ffd62d,
    "Community": #ffd62d,
    "green": #00d48a,
    "Environment": #00d48a,
    "blue": #0596f5,
    "Energy": #0596f5,
    "white": #ffffff
  );
  
 
  .carbon{
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    background-attachment: scroll;
  }
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 2000px
);

// LG & SM in this context refer to the tags such as btn-lg not the responsive display size like col-lg
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25;
$font-size-sm:                $font-size-base * .875;
// https://getbootstrap.com/docs/5.0/content/typography/#variables
// https://getbootstrap.com/docs/5.0/getting-started/rfs/

.btn {
  box-shadow: white 1px 1px;
}

.marker-pin {
  background: white;
  width: 2*$font-size-base;
  height: 2*$font-size-base;
  display: block;
  left: -1*$font-size-base;
  top: -1*$font-size-base;
  position: relative;
  border-radius: 3*$font-size-base 3*$font-size-base 0;
  transform: rotate(45deg);
  border: 1.5px solid #ffffff;
}

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
