//$enable-responsive-font-sizes: true;
$enable-shadows: true;

// modify variables before importing them
$theme-colors: (
  "orange": #ff5a01,
  "Health": #ff5a01,
  "Vida": #ff5a01,
  "lime": #b0f954,
  "Food": #b0f954,
  "Ag": #b0f954,
  "Terra": #b0f954,
  "skyBlue": #00e9ff,
  "Water": #00e9ff,
  "Hydro": #00e9ff,
  "charcoal": #323e48,
  "Institutional": #323e48,
  "Stories": #323e48,
  "yellow": #ffd62d,
  "Community": #ffd62d,
  "green": #00d48a,
  "Environment": #00d48a,
  "blue": #0596f5,
  "Energy": #0596f5,
  "white": #ffffff,
);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 2400px,
);

// https://getbootstrap.com/docs/5.0/utilities/api/#using-the-api

/*

// maybe we can use the above utilities to set
    "font-size": (
      ****responsive: true,***
      rfs: true,
      property: font-size,
      class: fs,
      values: $font-sizes

    ),



*/
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;
// LG & SM in this context refer to the tags such as btn-lg not the responsive display size like col-lg
// https://getbootstrap.com/docs/5.0/content/typography/#variables
// https://getbootstrap.com/docs/5.0/getting-started/rfs/

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carbon {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
  background-attachment: scroll;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.btn {
  box-shadow: white 1px 1px;
}

// Only doe things with break points below here.
@import "bootstrap/scss/_mixins.scss";
@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";

@each $name, $theme-color in $theme-colors {
  .active.bg-#{$name} {
    background-color: mix(white, $theme-color, 10%) !important;
  }
}

.leaflet-popup-tip-container {
  display: none;
}
.leaflet-popup-content {
  width: 300px;
}
@include media-breakpoint-only(xxl) {
  .leaflet-popup-content {
    width: 800px;
  }
  .leaflet-left.leaflet-bottom {
    transform: scale(2) translateX(50%) translateY(-50%);
  }
  .leaflet-right.leaflet-top {
    transform: scale(2) translateX(-50%) translateY(50%);
  }
}
.leaflet-container {
  font-size: $font-size-base !important;
}

.marker-pin {
  background: white;
  width: 2 * $font-size-base;
  height: 2 * $font-size-base;
  display: block;
  left: -1 * $font-size-base;
  top: -1 * $font-size-base;
  position: relative;
  border-radius: 2 * $font-size-base 2 * $font-size-base 0;
  transform: rotate(45deg);
  border: 3 * $font-size-base/16 solid #ffffff;
}
.marker-pin.active {
  width: 2.1 * $font-size-base;
  height: 2.1 * $font-size-base;
  left: -1.05 * $font-size-base;
  top: -1.055 * $font-size-base;
  border-radius: 2.1 * $font-size-base 2.1 * $font-size-base 0;
  border: 5 * $font-size-base/16 solid #ffffff;
  z-index: 10;
}

@include media-breakpoint-only(xxl) {
  .marker-pin {
    background: white;
    width: 4 * $font-size-base;
    height: 4 * $font-size-base;
    display: block;
    left: -2 * $font-size-base;
    top: -2 * $font-size-base;
    position: relative;
    border-radius: 4 * $font-size-base 4 * $font-size-base 0;
    transform: rotate(45deg);
    border: 3 * $font-size-base/16 solid #ffffff;
  }
  .marker-pin.active {
    width: 4.1 * $font-size-base;
    height: 4.1 * $font-size-base;
    left: -2.05 * $font-size-base;
    top: -2.055 * $font-size-base;
    border-radius: 4.1 * $font-size-base 4.1 * $font-size-base 0;
    border: 5 * $font-size-base/16 solid #ffffff;
    z-index: 10;
  }
}
// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";
