// stylelint-disable property-disallowed-list, declaration-no-important

//
// Border
//
@include media-breakpoint-only(xxl) {

.border         { border: $border-width solid $border-color !important; }
.border-top     { border-top: $border-width solid $border-color !important; }
.border-right   { border-right: $border-width solid $border-color !important; }
.border-bottom  { border-bottom: $border-width solid $border-color !important; }
.border-left    { border-left: $border-width solid $border-color !important; }

.rounded-sm {
  border-radius: $border-radius-sm * $size-xxl !important;
}

.rounded {
  border-radius: $border-radius * $size-xxl !important;
}

.rounded-top {
  border-top-left-radius: $border-radius * $size-xxl !important;
  border-top-right-radius: $border-radius * $size-xxl !important;
}

.rounded-right {
  border-top-right-radius: $border-radius * $size-xxl !important;
  border-bottom-right-radius: $border-radius * $size-xxl !important;
}

.rounded-bottom {
  border-bottom-right-radius: $border-radius * $size-xxl !important;
  border-bottom-left-radius: $border-radius * $size-xxl !important;
}

.rounded-left {
  border-top-left-radius: $border-radius * $size-xxl !important;
  border-bottom-left-radius: $border-radius * $size-xxl !important;
}

.rounded-lg {
  border-radius: $border-radius-lg * $size-xxl !important;
}
}