@import "bootstrap/scss/_mixins.scss";
@import "bootstrap/scss/_functions.scss";
@import "variables.scss";

.btn {
  //box-shadow: white 1px 1px;
}
.geo-img {
  max-width: 100px;
  cursor: help;
}
@include media-breakpoint-up(md) {
  .geo-img {
    max-width: 150px;
    cursor: help;
  }
}
.geo-img:hover {
  filter: drop-shadow(0px 0px 2px #ffffff);
}
.title-img {
  max-width: 200px;
  cursor: help;
}
.title-img:hover {
  filter: drop-shadow(0px 0px 2px #ffffff);
}
@include media-breakpoint-only(xxl) {
  .btn {
    @include font-size( $font-size-xxl);
    //box-shadow: white 5px 5px 7px;
    border-radius: $font-size-xxl / 4 ;
    padding: 0.25*$font-size-xxl 0.75*$font-size-xxl;

  }
  .geo-img {
    max-width: 1000px;
  }
  .geo-img:hover {
    filter: drop-shadow(0px 0px 2px #ffffff);
  }
  .title-img {
    max-width: 2000px;
  }
  .title-img:hover {
    filter: drop-shadow(0px 0px 2px #ffffff);
  }
}