.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 2000;
  padding: 0;
}
// $font-size-base
@include media-breakpoint-up(lg) {
  .overlay {
    padding: 0;
  }
}
@include media-breakpoint-only(xxl) {
  .overlay {
    padding: $font-size-xxl;
  }

}


.overlay.storyFrame {
  max-height: 1920*2px;
  max-width: 1080*2px;
}
@include media-breakpoint-only(xxl) {

.overlay.storyFrame {
  max-height: 100vh / 4 * 2;
  max-width: 100vw / 7 * 2;
}
}
.overlay.videoFrame {
  max-width: 3600px * 1.5;
  max-height: 1500px * 1.5;
}

.controlFrame {
  position: relative;
  width: 100%;
  height: 100%;
}
.innerFrame {
  width: 100%;
  height: 100%;
  border: none;
}
.topClose {
  position: absolute;
  right: 0px;
  top: 0px;
}
.bottomClose {
  position: absolute;
  left: 0px;
  bottom: 0px;
}




.iframe-scale {
  width: 100%;
  height: 100%;
}

.popup-iframe {
  padding: 0;
  height: 60vh;
  width: 60vw;
  z-index: 99999 !important;
}

@include media-breakpoint-up(xl){
  .popup-iframe {
    height: 40vh ;
    width: 40vw;
    z-index: 99999 !important;
  }
}


@include media-breakpoint-only(xxl) {
  $storyScale: 3.5;
  $panels-tall: 1.25;
  $panels-wide: 2;
  .popup-iframe {
    height: 100vh / 2 * $panels-tall;
    width: 100vw / 8 * $panels-wide ;
    z-index: 99999 !important;
  }
  .iframe-scale {
    width: 100% / $storyScale;
    height: 100% / $storyScale;
    -webkit-transform: scale($storyScale);
    transform: scale($storyScale);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}

.iframe-border-none {
  border-width: 0;
  border-style: none;
  border-color: transparent;
}
