@import "bootstrap/scss/_mixins.scss";
@import "bootstrap/scss/_functions.scss";
@import "variables.scss";

.geo-img {
  cursor: help;
}
.geo-img:hover {
  filter: drop-shadow(0px 0px 2px #ffffff);
}
@include media-breakpoint-up(md) {
  .geo-img {
    cursor: help;
  }
}
@include media-breakpoint-only(xxl) {
  .geo-img {
  }
  .geo-img:hover {
    filter: drop-shadow(0px 0px 2px #ffffff);
  }
}


.qrStory {

}


@include media-breakpoint-up(md) {
  .qrStory {
  }
}
@include media-breakpoint-only(xxl) {
  .qrStory {
  }
}