@import "bootstrap/scss/_mixins.scss";
@import "bootstrap/scss/_functions.scss";
@import "variables.scss";

.geo-img {
  cursor: help;
  max-width: 90px;
}
.geo-img:hover {
  filter: drop-shadow(0px 0px 2px #ffffff);
}

.qr-site {
 // max-width: 120px;
}

.font-qr-site {
  font-size: .7rem;
}
@include media-breakpoint-only(xxl) {
  .geo-img {
    max-width: 200px;
  }
  .qr-site {
    width: 300px;
  }
  .font-qr-site {
    font-size: 1.7rem;
  }
}