@import "bootstrap/scss/_mixins.scss";
@import "bootstrap/scss/_functions.scss";
@import "variables.scss";

.geo-img {
  cursor: help;
}
.geo-img:hover {
  filter: drop-shadow(0px 0px 2px #ffffff);
}



.font-qr-site {
  font-size: .7rem;
}
@include media-breakpoint-only(xxl) {

  .font-qr-site {
    font-size: 1.7rem;
  }
}