@import "bootstrap/scss/_mixins.scss";
@import "bootstrap/scss/_functions.scss";
@import "variables.scss";

$marker-size: 2.5;

$marker-size-lg: 6;

.marker-pin {
  background: white;
  width: $marker-size * $font-size-base;
  height: $marker-size * $font-size-base;
  display: block;
  left: -1 * $font-size-base;
  top: -1 * $font-size-base;
  position: relative;
  border-radius: $marker-size * $font-size-base $marker-size * $font-size-base 0;
  transform: rotate(45deg);
  border: 3 * $font-size-base/16 solid #ffffff;
}
.marker-pin.active {
  width: 1.1 * $marker-size * $font-size-base;
  height: 1.1 * $marker-size * $font-size-base;
  left: -1.05 * $font-size-base;
  top: -1.055 * $font-size-base;
  border-radius: 1.1 * $marker-size * $font-size-base 1.1 * $marker-size * $font-size-base 0;
  border: 5 * $font-size-base/16 solid #ffffff;
  z-index: 10;
}

@include media-breakpoint-only(xxl) {
  .marker-pin {
    background: white;
    width: $marker-size-lg * $font-size-base;
    height: $marker-size-lg * $font-size-base;
    display: block;
    left: -2 * $font-size-base;
    top: -2 * $font-size-base;
    position: relative;
    border-radius: $marker-size-lg * $font-size-base $marker-size-lg * $font-size-base 0;
    transform: rotate(45deg);
    border: 6 * $font-size-base/16 solid #ffffff;
    font-size: $font-size-xxl;
  }
  .marker-pin.active {
    width: 1.1 * $marker-size-lg * $font-size-base;
    height: 1.1 * $marker-size-lg * $font-size-base;
    left: -2.05 * $font-size-base;
    top: -2.055 * $font-size-base;
    border-radius: 1.1 * $marker-size-lg * $font-size-base 1.1 * $marker-size-lg * $font-size-base 0;
    border: 10 * $font-size-base/16 solid #ffffff;
    z-index: 10;
  }
}

.marker-img {
  //border: 3 * $font-size-base/16 solid #ffffff;
  width: 150px !important;
  position: relative;
  top: 0px;
  left: 0px;
  transform: translateX(-50%) translateY(0%);
}

@include media-breakpoint-only(xxl) {
  .marker-img {
    width: 300px !important;
    //border: 8 * $font-size-base/16 solid #ffffff;
  }
}
