@import "bootstrap/scss/_mixins.scss";
@import "bootstrap/scss/_functions.scss";
@import "variables.scss";

// Start clear leaflet popup styles
.leaflet-popup-tip-container {
  display: none;
}
.leaflet-container {
  background-color: #232227 !important;
  font-size: 1rem !important;
}
.map-popup-container .leaflet-popup-content {
  margin: 0 !important;
}


.map-popup-container .leaflet-popup-content-wrapper {
  background: transparent !important;
  color: inherit !important;
  box-shadow: none !important;
  background-color: none !important;
}
// End clear leaflet popup styles

.leaflet-popup-content{
  width: 100%;
}

@include media-breakpoint-only(xxl) {
    .leaflet-popup-content {
      width: 100%;
    }
    .leaflet-container {
      font-size: $font-size-xxl !important;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: left;
    }

  }