/////////////////////////////////////////////////
///
///    used to overide the boostrap variables
///
/////////////////////////////////////////////////


// stylelint-disable value-keyword-case
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$size-xxl: 3.8;
$font-size-xxl: 1rem * $size-xxl;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;




// LG & SM in this context refer to the tags such as btn-lg not the responsive display size like col-lg
// https://getbootstrap.com/docs/5.0/content/typography/#variables
// https://getbootstrap.com/docs/5.0/getting-started/rfs/

//$enable-responsive-font-sizes: true;
$enable-shadows: true;

// modify variables before importing them
$theme-colors: (
  "orange": #f15647, /* #ff5a01 */
  "Health": #f15647, /* #ff5a01 */
  "Vida": #f15647, /* #ff5a01 */
  "lime": #83a44e, /* #b0f954 */
  "Food": #83a44e, /* #b0f954 */
  "Ag": #83a44e, /* #b0f954 */
  "Terra": #83a44e, /* #b0f954 */
  "skyBlue": #37a0a5, /* #00e9ff */
  "Water": #37a0a5, /* #00e9ff */
  "Hydro": #37a0a5, /* #00e9ff */
  "yellow": #a6093d, /* #ffd62d */
  "Community": #a6093d, /* #ffd62d */
  "green": #00205b, /* #00d48a */
  "Environment": #00205b, /* #00d48a */
  "blue": #dfae65, /* #0596f5 */
  "Energy": #dfae65, /* #0596f5 */
  "charcoal": #323e48,
  "Institutional": #323e48,
  "Stories": #323e48,
  "white": #ffffff,
  "black": #000000,
  "map-dark": #232227,
  "map-light": #3f3f41,
);

// If you change this
// be sure to also change src/mixin/breakpoint.ts
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 4000px,
);

// https://getbootstrap.com/docs/5.0/utilities/api/#using-the-api

/*

// maybe we can use the above utilities to set
    "font-size": (
      ****responsive: true,***
      rfs: true,
      property: font-size,
      class: fs,
      values: $font-sizes

    ),



*/


@import "bootstrap/scss/_variables.scss";
