/////////////////////////////////////////////////
///
///    used to overide the boostrap variables
///
/////////////////////////////////////////////////


// stylelint-disable value-keyword-case
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$size-xxl: 3.4;
$font-size-xxl: 1rem * $size-xxl;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;




// LG & SM in this context refer to the tags such as btn-lg not the responsive display size like col-lg
// https://getbootstrap.com/docs/5.0/content/typography/#variables
// https://getbootstrap.com/docs/5.0/getting-started/rfs/

//$enable-responsive-font-sizes: true;
$enable-shadows: true;

// modify variables before importing them
// WCAG 2.0 level AA requires a contrast ratio of at least 4.5:1 for normal text and 3:1 for large text. 
// WCAG 2.1 requires a contrast ratio of at least 3:1 for graphics and user interface components (such as form input borders).
// WCAG Level AAA requires a contrast ratio of at least 7:1 for normal text and 4.5:1 for large text.
// https://webaim.org/resources/contrastchecker/

$theme-colors: (
  "orange": #f15647,        /* fail on white 3.40 contrast */ /* old #ff5a01 */
  "Health": #f15647,        /* fail on white 3.40 contrast */ /* old #ff5a01 */
  "Vida": #f15647,          /* fail on white 3.40 contrast */ /* old #ff5a01 */
  "green": #83a44e,         /* fail on white 2.84 contrast */ /* old #b0f954 */ 
  "lime": #83a44e,          /* fail on white 2.84 contrast */ /* old #b0f954 */
  "Food": #83a44e,          /* fail on white 2.84 contrast */ /* old #b0f954 */
  "Ag": #83a44e,            /* fail on white 2.84 contrast */ /* old #b0f954 */
  "Terra": #83a44e,         /* fail on white 2.84 contrast */ /* old #b0f954 */
  "skyBlue": #37a0a5,       /* fail on white 3.11 contrast */ /* old #00e9ff */
  "Water": #37a0a5,         /* fail on white 3.11 contrast */ /* old #00e9ff */
  "Hydro": #37a0a5,         /* fail on white 3.11 contrast */ /* old #00e9ff */
  "red": #a6093d,           /* pass on white 7.69 contrast */ /* old #ffd62d */
  "Community": #a6093d,     /* pass on white 7.69 contrast */ /* old #ffd62d */
  "blue": #00205b,          /* pass on white 15.5 contrast */ /* old #0596f5 */
  "Environment": #00205b,   /* pass on white 15.5 contrast */ /* old #00d48a */
  "yellow": #dfae65,        /* pass on white 7.69 contrast */ /* old #ffd62d */
  "Energy": #dfae65,        /* fail on white 2.02 contrast */ /* old #0596f5 */
  "charcoal": #323e48,      /* pass on white 10.9 contrast */ 
  "Institutional": #323e48, /* pass on white 10.9 contrast */
  "Stories": #323e48,       /* pass on white 10.9 contrast */
  "white": #ffffff,         /* fail on white 00.0 contrast */
  "black": #000000,         /* pass on white 21.0 contrast */
  "map-dark": #232227,      /* pass on white 15.8 contrast */
  "map-light": #3f3f41,     /* pass on white 10.5 contrast */
);

// If you change this
// be sure to also change src/mixin/breakpoint.ts
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 4000px,
);

// https://getbootstrap.com/docs/5.0/utilities/api/#using-the-api

/*

// maybe we can use the above utilities to set
    "font-size": (
      ****responsive: true,***
      rfs: true,
      property: font-size,
      class: fs,
      values: $font-sizes

    ),



*/


:export {
  @each $name, $hex in $theme-colors {
    #{unquote($name)}: $hex;
  }
}

