.videoFrame {
  position: absolute;
  top: 50%;
  left: 25%; //67.5
  transform: translate(-50%, -50%);
  z-index: 2000;
  // width:90vw;
}

@include media-breakpoint-only(xl) {
  .videoFrame {
    // width: 1500px;
  }
}
@include media-breakpoint-up(xxl) {
  .videoFrame {
    top: 50%;
    left: 50%;
    // width: 2800px;
    // height:75vh;
  }
}
